/* font-family: 'Mochiy Pop P One', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'PT Sans Narrow', sans-serif; */


#imgBG{
	position:fixed; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto;
   min-height:100%; /*동영상 높이를 꽉차게*/
  transform:translateX(-50%) translateY(-50%);
   z-index:-100;
}

.down{display: block; font-size: 20px; position: absolute; left:50%; margin-left: -50px; bottom: 10%; animation:ani 1s infinite  alternate; font-family: 'PT Sans Narrow', sans-serif;}
.down::after{content: ''; display: block; background: url(../images/icon.png) center no-repeat; width: 70px; height: 70px; margin: 20px auto 0;}
@keyframes ani {
	0% { transform:scale(1); opacity:1; color:#fff;}
	100% { transform:scale(1.2); opacity:0.8; color:#888;}
}	

/* 와이드 pc  */
.videoBox{width:100%;height:100%; overflow:hidden; position:absolute}

#content{background: rgba(0,0,0,.7); font-family: 'PT Sans Narrow'; padding-bottom: 80px;}
#content h2{font-size: 5rem; color: #fff; letter-spacing: 3px; font-family: 'Mochiy Pop P One', sans-serif; position:absolute; top: 50%; left: 50%; background: linear-gradient(to right bottom, #90d3e5, #fff); -webkit-background-clip: text; -webkit-text-fill-color: transparent; transform: translate(-50%, -50%);}
.about{margin-bottom: 130px;}
.about h3{font-weight: 700; text-align: center; color: #fff; font-size: 3.3rem; padding: 100px 0 0;}
.about p{color: #fff; text-align: justify; letter-spacing: 1.5px; font-size: 1.3rem; line-height: 1.5em; margin: 100px 100px 60px;}
.about ul{overflow: hidden; padding-bottom: 50px;}
.about ul li{float: left;}
.about ul li:nth-child(1){width: 45.5%; margin: 0 0.5% 0 4%;}
.about ul li:nth-child(2){width: 45.5%; margin: 0 4% 0 0.5%;}
.about ul li a{display: block;}
.about ul li a:hover{border: 6px solid #90d3e5; transition: all .3s;}
.about ul li img{width: 100%;}

.world .back{border: 15px solid #90d3e5; box-sizing: border-box; background: url(../images/about_back.jpg) no-repeat center; padding: 160px; background-size: cover; width: 100%; background-attachment: fixed; margin-bottom: 150px}
.world .back h3{font-weight: 700; text-align: center; color: #fff; font-size: 3.3rem;}
.world .odd{overflow: hidden; margin: 0 3% 100px; position: relative; padding-bottom: 30px;}
.world .odd img{width: 48%; margin-right: 2%; float: left; border-radius: 0 35px;}
.world .odd dl{ float: right; width: 48%; margin-left: 2%;}
.world .odd dt , .world .even dt{font-weight: 700; font-size: 2.9rem; padding: 0 0 30px; color: rgba(144,211,229,.7); text-align: center;}
.world .odd dd , .world .even dd{color: #fff; text-align: justify; letter-spacing: 1.5px; font-size: 1.3rem; line-height: 1.5em;}
.world .even{overflow: hidden; margin: 0 3% 100px; position: relative; padding-bottom: 30px;}
.world .even img{width: 48%; margin-left: 2%; float: right; border-radius: 35px 0;}
.world .even dl{ float: left; width: 48%; margin-right: 2%;}
.world .odd:nth-child(2)::before{content: ''; display: block; width: 300px; height: 200px; position: absolute; top: 51%; left: 50%; margin-left: 70px; background: url(../images/he01.jpg) center no-repeat; background-size: cover; border-radius: 10px;}
.world .odd:nth-child(2)::after{content: ''; display: block; width: 300px; height: 200px; position: absolute; top: 51%; left: 50%; margin-left: 400px; background: url(../images/he02.jpg) center no-repeat; background-size: cover; border-radius: 10px;}
.world .even:nth-child(3)::after{content: ''; display: block; width: 350px; height: 200px; position: absolute; top: 46%; left: 0;  background: url(../images/dr01.jpg) center no-repeat; background-size: cover; border-radius: 10px;}
.world .odd:nth-child(4)::after{content: ''; display: block; width: 350px; height: 170px; position: absolute; top: 58%; left: 50%; margin-left: 50px; background: url(../images/im02.jpg) center no-repeat; background-size: cover; border-radius: 10px;}
.world .even:nth-child(5)::after{content: ''; display: block; width: 350px; height: 200px; position: absolute; top: 46%; left: 0;  background: url(../images/is02.jpg) center no-repeat; background-size: cover; border-radius: 10px;}
.world .odd:nth-child(6)::before{content: ''; display: block; width: 300px; height: 180px; position: absolute; top: 51%; left: 50%; margin-left: 70px; background: url(../images/tr02.jpg) center no-repeat; background-size: cover; border-radius: 10px;}
.world .odd:nth-child(6)::after{content: ''; display: block; width: 300px; height: 180px; position: absolute; top: 51%; left: 50%; margin-left: 400px; background: url(../images/tr03.jpg) center no-repeat; background-size: cover;border-radius: 10px;}
.world .even:nth-child(7)::after{content: ''; display: block; width: 350px; height: 180px; position: absolute; top: 51%; left: 0;  background: url(../images/lo01.jpg) center no-repeat; background-size: cover; border-radius: 10px;}

/* 일반 pc */
@media screen and (max-width:1280px) {
.world .odd dd , .world .even dd{font-size: 1.125rem;}
.world .odd:nth-child(2)::before{width: 250px; height: 150px; top: 53%;margin-left: 50px;}
.world .odd:nth-child(2)::after{width: 250px; height: 150px; top: 53%;margin-left: 320px;}
.world .even:nth-child(3)::after{width: 300px; height: 150px; top: 50%;}
.world .odd:nth-child(4)::after{width: 300px; height: 150px; top: 55%; margin-left: 50px;}
.world .even:nth-child(5)::after{width: 300px; height: 150px; top: 50%;}
.world .odd:nth-child(6)::before{width: 250px; height: 80px; top: 68%; margin-left: 50px;}
.world .odd:nth-child(6)::after{width: 250px; height: 80px; top: 68%;  margin-left: 320px;}
.world .even:nth-child(7)::after{width: 250px; height: 130px; top: 55%;}
}

/* 테블릿 */
@media screen and (max-width:1024px) {
#content h2{font-size: 4rem;}
.about p{font-size: 1.1rem;}
.about ul li:nth-child(1){width: 43%; margin: 0 1% 0 6%;}
.about ul li:nth-child(2){width: 43%; margin: 0 6% 0 1%;}
.world .back{background-attachment: unset;}
.world .odd, .world .even{margin-bottom: 30px;}
.world .odd dt, .world .even dt{font-size: 2.3rem; padding-bottom: 15px;}
.world .odd:nth-child(2)::before ,.world .odd:nth-child(2)::after,.world .even:nth-child(3)::after,.world .odd:nth-child(4)::after,.world .even:nth-child(5)::after,.world .odd:nth-child(6)::before,.world .odd:nth-child(6)::after,.world .even:nth-child(7)::after{display: none;}
.world .back{padding: 130px;}
}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
#content{padding-bottom: 10px;}
#content h2{font-size: 3.5rem;}
.about{margin-bottom: 50px;}
.about h3{font-size: 3rem;}
.about p{letter-spacing: 1.3px; font-size: 1.1rem; line-height: 1.5em; margin: 50px 40px;}
.about ul li{float: none;}
.about ul li:nth-child(1){width: 90%; margin: 0 5%;}
.about ul li:nth-child(2){display: none;}
.world .back{padding: 70px; margin-bottom: 100px; border: 6px solid #90d3e5;}
.world .odd, .world .even{margin: 0 5% 30px;}
.world .odd img, .world .even img{float: none; width: 80%; margin: 0 10%;}
.world .odd dl, .world .even dl{float: none; width: 100%; margin: 0;}
.world .odd dt, .world .even dt{text-align: center; padding: 20px 0 0; font-size: 2.1rem;}
.world .odd dd, .world .even dd{text-align: center; padding: 10px 0 0;}
}

/* 모바일 */
@media screen and (max-width:640px) {
#content h2{font-size: 3rem;}
.about h3, .world .back h3{font-size: 2.5rem;}
.about p{font-size: 1rem; line-height: 1.6em;}
.about ul{padding-bottom: 0;}
.world .back{margin-bottom: 50px;}
.world .odd dt, .world .even dt{padding: 10px 0 0; font-size: 2rem;}
.world .odd dd, .world .even dd{padding: 10px 0 0; font-size: 1rem;}

}