/* font-family: 'Noto Sans KR', sans-serif; font-weight:700;*/

/* 준법경영 이념 및 체계 */
#content .content_area{width: 1200px; margin: 0 auto; font-family: 'Noto Sans KR', sans-serif; margin-top: 200px;}
#content .content_area h3{font-size: 34px; margin-bottom: 50px;}
#content .content_area>p{font-size: 22px; text-align: justify; background: #f5f5f5; padding: 50px; letter-spacing: .2px; line-height: 1.8em; margin-bottom: 100px;}

/* 준법경영 행동규범 */
#content .law h4{font-size: 30px; margin-bottom: 50px;}
#content .law ul{overflow: hidden; margin-bottom: 130px; position: relative;}
#content .law li{border: 1px solid #ddd; width: 290px; float: left; padding: 40px; margin-right: 40px;}
#content .law li:nth-child(3){margin-right: 0;}
#content .law li:nth-child(1)::after{content:''; display: block; background: #186bb2; width: 0; height: 5px; position: absolute; top: 0; left: 0; transition: all .3s ease-out;}
#content .law li:nth-child(1):hover::after {width: 372px;}
#content .law li:nth-child(2)::after{content:''; display: block; background: #186bb2; width: 0; height: 5px; position: absolute; top: 0; left: 412px; transition: all .3s ease-out;}
#content .law li:nth-child(2):hover::after {width: 372px;}
#content .law li:nth-child(3)::after{content:''; display: block; background: #186bb2; width: 0; height: 5px; position: absolute; top: 0; left: 824px; transition: all .3s ease-out;}
#content .law li:nth-child(3):hover::after {width: 372px;}
#content .law a{display: block;}
#content .law img{width: 100px; height: 100px; float: left; margin-right:20px; padding: 20px 0;}
#content .law dt{font-size: 22px; font-weight: 700; margin-bottom: 10px;}
#content .law dd{color: #666; text-align: justify; line-height: 1.5em; letter-spacing: .5px;}

/* 준법경영 체계 */
#content .system h4{font-size: 30px; margin-bottom: 50px}
#content .system>p{font-size: 20px; letter-spacing: .2px; line-height: 1.8em; text-align: justify;}
#content .system ul{margin-top: 70px; position: relative;}
#content .system li{border: 1px solid #ccc; margin-bottom: 80px; margin-left: 250px; width: 700px; border-radius: 30px; background: #f5f5f5;}
#content .system li:nth-child(1):after{content: ''; background: url(../images/content2/arrow01.png) no-repeat; position: absolute; top: 100px; left: 570px; width: 50px; height: 50px;}
#content .system li:nth-child(2):after{content: ''; background: url(../images/content2/arrow01.png) no-repeat; position: absolute; top: 270px; left: 570px; width: 50px; height: 50px;}
#content .system li:nth-child(3):after{content: ''; background: url(../images/content2/arrow01.png) no-repeat; position: absolute; top: 440px; left: 570px; width: 50px; height: 50px;}
#content .system li:nth-child(4):after{content: ''; background: url(../images/content2/arrow01.png) no-repeat; position: absolute; top: 610px; left: 570px; width: 50px; height: 50px;}
#content .system ul li p{font-size: 22px; text-align: center; padding-bottom: 25px;}
#content .system span{font-weight: 700; color: #0c4da2; padding-left: 20px; font-size: 20px;}
