/* font-family: 'Noto Sans KR', sans-serif; font-weight:700;*/

/* 탭메뉴 */
#content #tab_menu{font-family: 'Noto Sans KR', sans-serif; width: 1200px; margin-top: 170px;} 
#content #tab_menu ul{overflow: hidden; margin-bottom: 100px;}
#content #tab_menu li{float: left; border: 1px solid #ddd; text-align: center;}
#content #tab_menu a{width: 150px; display:block; text-align: center; padding: 20px 70px; font-size: 22px; color: #666; transition: all .2s;} 
#content #tab_menu a.current{background:#0c4da2; color: #fff;}

/* 리스트 */
#content #details{font-family: 'Noto Sans KR', sans-serif;}
#content #details h3{font-size: 40px; font-weight: 700; text-align: center; margin:70px 0;}
#content #details ul{position: relative; padding: 30px 0;}
#content #details ul::before{content: ''; display: block; width: 1px; height: 100%; background-color: #ddd; position: absolute; left: 50%; top: 0;}
#content #details li{margin-bottom: 50px; overflow: hidden;}

#content #details dl{position: relative;}
#content #details dl::before{content: ''; display: block; width: 8px; height: 8px; border-radius: 50%; background: #fff; border: 3px solid #0c4da2; position: absolute; top: 20%;}
#content #details ul li:nth-of-type(2n) dl{float: left; width: 50%; text-align: right;}     
#content #details ul li:nth-of-type(2n+1) dl{float: right; width: 50%;}
#content #details ul li:nth-of-type(2n) dl::before{right: 0; margin-right: -7px;} 
#content #details ul li:nth-of-type(2n+1) dl::before{margin-left: -7px;}

#content #details dt{font-size: 30px; color: #186bb2; font-weight: 700;}
#content #details ul li:nth-of-type(2n) dt{padding-right: 30px;}
#content #details ul li:nth-of-type(2n+1) dt{padding-left: 30px;}

#content #details dd{font-size: 18px;}
#content #details ul li:nth-of-type(2n) dd{padding-right: 30px; margin-top: 15px; line-height: 1.2em;}
#content #details ul li:nth-of-type(2n+1) dd{padding-left: 30px; margin-top: 15px;}

#content #details span{font-size: 25px; color: #333;}
#content #details ul li:nth-of-type(2n) span{float: right; margin-left: 10px;}
#content #details ul li:nth-of-type(2n+1) span{margin-right: 10px;}